@use "./variables"as *;

a:link {
    text-decoration: none;
}

.calc {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 24px;

    &__screen {
        display: flex;
        justify-content: flex-end;
        width: 90%;
        background-color: $secondary-color;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $primary-color;
        padding: 5px;

    }

    &__grid {
        display: grid;
        place-items: center;
        width: 90%;
        height: 25rem;
        gap: 10px;
        background-image: $background-color;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "AC negative percent divide"
            "seven eight nine multiply"
            "four five six subtract"
            "one two three add"
            "backspace zero decimal equals";

    }

    &--item1 {
        grid-area: AC;
    }

    &--item2 {
        grid-area: negative;
    }

    &--item3 {
        grid-area: percent;
    }

    &--item4 {
        grid-area: divide;
    }

    &--item5 {
        grid-area: seven;
    }

    &--item6 {
        grid-area: eight;
    }

    &--item7 {
        grid-area: nine;
    }

    &--item8 {
        grid-area: multiply;
    }

    &--item9 {
        grid-area: four;
    }

    &--item10 {
        grid-area: five;
    }

    &--item11 {
        grid-area: six;
    }

    &--item12 {
        grid-area: subtract;
    }

    &--item13 {
        grid-area: one;
    }

    &--item14 {
        grid-area: two;
    }

    &--item15 {
        grid-area: three;
    }

    &--item16 {
        grid-area: add;
    }

    &--item17 {
        grid-area: backspace;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &--item18 {
        grid-area: zero;
    }

    &--item19 {
        grid-area: decimal;
    }

    &--item20 {
        grid-area: equals;
    }


}

@media screen and (min-width: 768px) {
    .calc {
        font-size: 36px;
    
    &__grid{

        &--item17 {
            object-fit: contain;
            grid-area: backspace;
            max-width: 100%; 
            max-height: 15rem;       
        }
    }
    }
}

;

