@use "./variables" as *;

@use "./calculator";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

body {
    font-family: $font-body;
    background-image: linear-gradient(to bottom right, #00BBF9, #00F5D4);
    padding: 10px;
    min-height: 100vh;
}