@use "./variables" as *;

@use "./calculator";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

body {
    font-family: $font-body;
    padding: 10px;
    min-height: 100vh;
    background-color: $page-color;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

