@use "./variables.scss" as *;

a:link{
    text-decoration: none;
}

.calc{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    &__screen {
        display: flex;
        border: 1px solid black;
        justify-content: center;
        height: 100px;
    }
    

    &__grid {
        display: grid;
        gap: 10px;
        grid-template-areas:
        "AC negative percent divide"
        "seven eight nine multiply"
        "four five six subtract"
        "one two three add"
        "space zero decimal equals" ; 
    }

/*        &--item1{
            grid-area: screen;
        } */

        &--item2{
            grid-area: AC;
        }
        
        &--item3{
            grid-area: negative;
        }

        &--item4{
            grid-area: percent;
        }

        &--item5{
            grid-area: divide;
        }

        &--item6{
            grid-area: seven;
        }

        &--item7{
            grid-area: eight;
        }

        &--item8{
            grid-area: nine;
        }

        &--item9{
            grid-area: multiply;
        }

        &--item10{
            grid-area: four;
        }

        &--item11{
            grid-area: five;
        }

        &--item12{
            grid-area: six;
        }

        &--item13{
            grid-area: subtract;
        }

        &--item14{
            grid-area: one;
        }

        &--item15{
            grid-area: two;
        }

        &--item16{
            grid-area: three;
        }

        &--item17{
            grid-area: add;
        }

        &--item18{
            grid-area: zero;
        }

        &--item19{
            grid-area: decimal;
        }

        &--item20{
            grid-area: equals;
        }
        
        &--item21{
            grid-area: space;
        }

    }