a:link {
  text-decoration: none;
}

.calculator {
  background-color: #FFC0CB;
}
.calculator__button {
  border: 1px solid black;
  border-radius: 50%;
}
.calculator__grid {
  display: grid;
  grid-template-areas: none;
}
.calculator--item1 {
  grid-area: AC;
}
.calculator--item2 {
  grid-area: negative-operation;
}
.calculator--item3 {
  grid-area: percent;
}
.calculator--item4 {
  grid-area: divide;
}
.calculator--item5 {
  grid-area: multiply;
}
.calculator--item6 {
  grid-area: subtract;
}
.calculator--item7 {
  grid-area: add;
}
.calculator--item8 {
  grid-area: equals;
}
.calculator--item9 {
  grid-area: zero;
}
.calculator--item10 {
  grid-area: one;
}
.calculator--item11 {
  grid-area: two;
}
.calculator--item12 {
  grid-area: three;
}
.calculator--item13 {
  grid-area: four;
}
.calculator--item14 {
  grid-area: five;
}
.calculator--item15 {
  grid-area: six;
}
.calculator--item16 {
  grid-area: seven;
}
.calculator--item17 {
  grid-area: eight;
}
.calculator--item18 {
  grid-area: nine;
}
.calculator--item1 {
  grid-area: decimal;
}