@use "./variables.scss" as *;

a:link{
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calc{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px; 

    &__screen {
        display: flex;
        justify-content: center;
        width: 60%;
        height: 75px;
        background-color: white;
    }

    &__button {
        display: flex;
        font-size: 20px;
        color: $primary-color;

        &--operation{
            color:$page-color;
            border: 1px solid $primary-color;
            border-radius: 50%;
        }
    }

    &__grid {
        display: grid;
        justify-items: center;
        width: 75%;
        gap: 10px;
        background-color: $background-color;
        grid-template-rows: repeat(1fr, 4);
        grid-template-columns: repeat(1fr, 4);
        grid-template-areas:
        "AC negative percent divide"
        "seven eight nine multiply"
        "four five six subtract"
        "one two three add"
        "space zero decimal equals" ; 

    }

/*        &--item1{
            grid-area: screen;
        } */

        &--item2{
            grid-area: AC;
        }
        
        &--item3{
            grid-area: negative;
        }

        &--item4{
            grid-area: percent;
        }

        &--item5{
            grid-area: divide;
        }

        &--item6{
            grid-area: seven;
        }

        &--item7{
            grid-area: eight;
        }

        &--item8{
            grid-area: nine;
        }

        &--item9{
            grid-area: multiply;
        }

        &--item10{
            grid-area: four;
        }

        &--item11{
            grid-area: five;
        }

        &--item12{
            grid-area: six;
        }

        &--item13{
            grid-area: subtract;
        }

        &--item14{
            grid-area: one;
        }

        &--item15{
            grid-area: two;
        }

        &--item16{
            grid-area: three;
        }

        &--item17{
            grid-area: add;
        }

        &--item18{
            grid-area: zero;
        }

        &--item19{
            grid-area: decimal;
        }

        &--item20{
            grid-area: equals;
        }
        
        &--item21{
            grid-area: space;
        }
    }