a:link {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calc {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  /*        &--item1{
              grid-area: screen;
          } */
}
.calc__screen {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 75px;
  background-color: white;
}
.calc__button {
  display: flex;
  font-size: 20px;
  color: #000080;
}
.calc__button--operation {
  color: #FF8C00;
  border: 1px solid #000080;
  border-radius: 50%;
}
.calc__grid {
  display: grid;
  justify-items: center;
  width: 75%;
  gap: 10px;
  background-color: #FFC0CB;
  grid-template-rows: repeat(1fr, 4);
  grid-template-columns: repeat(1fr, 4);
  grid-template-areas: "AC negative percent divide" "seven eight nine multiply" "four five six subtract" "one two three add" "space zero decimal equals";
}
.calc--item2 {
  grid-area: AC;
}
.calc--item3 {
  grid-area: negative;
}
.calc--item4 {
  grid-area: percent;
}
.calc--item5 {
  grid-area: divide;
}
.calc--item6 {
  grid-area: seven;
}
.calc--item7 {
  grid-area: eight;
}
.calc--item8 {
  grid-area: nine;
}
.calc--item9 {
  grid-area: multiply;
}
.calc--item10 {
  grid-area: four;
}
.calc--item11 {
  grid-area: five;
}
.calc--item12 {
  grid-area: six;
}
.calc--item13 {
  grid-area: subtract;
}
.calc--item14 {
  grid-area: one;
}
.calc--item15 {
  grid-area: two;
}
.calc--item16 {
  grid-area: three;
}
.calc--item17 {
  grid-area: add;
}
.calc--item18 {
  grid-area: zero;
}
.calc--item19 {
  grid-area: decimal;
}
.calc--item20 {
  grid-area: equals;
}
.calc--item21 {
  grid-area: space;
}